<%= link_to 'Home', root_path %>

<div id="#search_form">
  <%= search_form_for(@search, :url => customers_path, :html => {:method => :get}) do |form| %>
    <%= form.inputs do %>
      <%= form.keywords %>
    <% end %>

    <%= form.inputs do %>
      <%= form.search_fields :hint => "The search mataches all fields by default. You can selet fields if you only want to search them." %>
    <% end %>

    <%= form.conditions do |condition| %>
      <%= condition.attributes %>
      <%= condition.operators %>
      <%= condition.type %>
      <%= condition.value %>
      <%= condition.choices %>
      <%= condition.remove_condition_button %>
    <% end %>

    <%= form.buttons do %>
      <%= form.add_condition_button %>
    <% end %>

    <%= form.inputs do %>
      <%= form.sort_by %>
      <%= form.sort_direction %>
    <% end %>

    <%= form.inputs do %>
      <%= form.pagination_options %>
    <% end %>

    <%= form.buttons do %>
      <%= form.commit_button 'Search' %>
    <% end %>
  <% end %> 
</div>

<% if @customers %>
  <table id="customers">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="company">Company</th>
        <th>Revenue</td>
        <th>Rating</th>
        <th>Kind</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each_hit_with_result do |hit, customer| %>
        <tr>
          <td class="name"><%= customer.name %></td>
          <td class="company"><%= customer.company %></td>
          <td><%= number_to_currency(customer.revenue) %></td>
          <td><%= customer.rating %></td>
          <td><%= customer.state.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate(@customers.hits) %>
<% end %>
