= link_to 'Basic Demo', root_path
= link_to 'Advanced Demo', advanced_searches_path
= link_to 'Source', 'https://github.com/Adman65/sunspot_search'

%p 
  Here is an exmple form designed around ideas searching for Ruby Gems. I have ommited the submit button
  so Solr/Sunspot is needed for the form demos. This demo uses no transforms. Transform are javascript functions
  there are called when an attribute/operator is selected. You can use these things to do fancy things to the UI
  as you can see in the advanced example.

#basic-search
  = sunspot_search_form_for(@search, :url => searches_path, :html => {:method => :get}) do |form| 
    = form.inputs do 
      = form.keywords 

    = form.inputs do 
      = form.search_fields :hint => "The search mataches all fields by default. You can selet fields if you only want to search them." 

    = form.conditions do |condition| 
      = condition.attributes 
      = condition.operators 
      = condition.type 
      = condition.value 
      = condition.choices 
      = condition.remove_condition_button 

    = form.buttons do 
      = form.add_condition_button 

    = form.inputs do 
      = form.sort_by 
      = form.sort_direction 

    = form.inputs do 
      = form.pagination_options 
